{% extends "base.html" %}

{% block content %}

<div class="delete-container">

    <h1>

        Delete Team

    </h1>


    <p>

        Are you sure you want to delete

        <strong>

            {{ team.name }}

        </strong>

        ?

    </p>


    <form method="POST">

        {% csrf_token %}


        <button
            type="submit"
            class="btn btn-danger"
        >

            Yes, Delete

        </button>


        <a
            href="{% url 'team_detail' team.pk %}"
            class="btn btn-secondary"
        >

            Cancel

        </a>

    </form>

</div>

{% endblock %}